<style>
	@import url('https://fonts.googleapis.com/css2?family=Inter&family=Vazirmatn&display=swap');
  </style>
<section id="bars" class="mx-auto flex flex-wrap items-center"     {{ if eq .Site.Language.Lang "fa" }} 
style="font-family: 'Vazirmatn', sans-serif !important;" 
{{ else if eq .Site.Language.Lang "en" }} 
style="font-family: 'YourEnglishFont', sans-serif !important;" 
{{ end }}>
	<div class="text-center w-full">
		<h1 class="my-0 text-4xl sm:text-5xl md:text-6xl">
			{{ .Title }}
		</h1>
		{{ with .Params.subtitle}}
		<h2 class="font-light mt-0">{{ . }}</h2>
		{{ end }}
	</div>
	<div class="w-full flex flex-col">
		{{ range .Params.bar }}
		<div class="mt-8">
			{{ if .icon }}
			<img class="mx-auto h-32" src="{{ .icon | relURL }}" alt="{{ .name }} icon">
			{{ end }}
			<h2 class="inline-block">{{ .name }}</h2>
			<div class="flex items-center">
				<div class="h-4 flex-1 mr-4 shadow-2 rounded-sm bg-gray-200">
					<div class="h-full bg-green-300 rounded-sm bg-gradient-to-r from-accent-light via-accent-dark to-accent"
						style="width: {{ .percent }};">
					</div>
				</div>
				<span class="font-bold">{{ .percent }}</span>
			</div>
		</div>
		{{ end }}
	</div>
</section>