<style>
	@import url('https://fonts.googleapis.com/css2?family=Inter&family=Vazirmatn&display=swap');
  </style>
<section id="hero" class="mt-8 mx-auto flex flex-wrap items-center">
	<div
		class="mx-auto p-2 sm:p-8 text-center {{ with .Params.hero_media }} md:pl-0 md:w-1/2 {{ else }} md:w-3/4 {{ end }}" 
		
		
		
		
		{{ if eq .Site.Language.Lang "fa" }} 
        style="font-family: 'Vazirmatn', sans-serif !important;" 
    {{ else if eq .Site.Language.Lang "en" }} 
        style="font-family: 'Inter', sans-serif !important;" 
    {{ end }}>
		<div>
			{{ .Content }}
		</div>
		<div class="mx-auto mt-8 mb-8 md:mb-0 flex justify-center">
			{{ range .Params.btn }}
			{{ $class := "border border-accent hover:border-accent-dark transition duration-300 ease-in-out no-underline hover:bg-accent-dark hover:text-secondary dark:hover:text-primary dark:text-primary" }}
			{{ if .primary }}
			{{ $class = printf "%s %s" $class "bg-accent text-secondary"}}
			{{ end }}

			{{ $btnAttrs := dict "class" $class "href" (.url | relLangURL)}}
			{{ $btnOpt := dict "el" "a" "content" .label "attrs" $btnAttrs}}
			{{ partial "button" $btnOpt }}

			{{ end }}
		</div>
	</div>

	{{ with .Params.hero_media }}
	<div
		class="my-6 p-4 mx-auto max-w-3/4 sm:max-w-2/3 lg:max-w-1/2 lg:relative xl:-right-10 xl:-right-16 shadow-soft relative bg-secondary-light">
		<img src="{{ . | relURL}}" alt="hero image" class="max-h-vh-3/4">
	</div>
	{{ end }}

</section>
