<style>
	@import url('https://fonts.googleapis.com/css2?family=Inter&family=Vazirmatn&display=swap');
  </style>
<section id="pages"     {{ if eq .Site.Language.Lang "fa" }} 
style="font-family: 'Vazirmatn', sans-serif !important;" 
{{ else if eq .Site.Language.Lang "en" }} 
style="font-family: 'YourEnglishFont', sans-serif !important;" 
{{ end }}>
	<div class="text-center w-full">
		<h1 class="my-0 text-4xl sm:text-5xl md:text-6xl">
			{{ .Title }}
		</h1>
		{{ with .Params.subtitle}}
		<h2 class="font-light mt-0">{{ . }}</h2>
		{{ end }}
	</div>

	{{ $items_type := .Params.content.page_type | default "post" }}
	{{ $items_count := .Params.content.count }}


	<div class="mt-8 flex flex-wrap justify-around">

		{{/* Filters */}}
		{{ $query := where site.RegularPages "Type" $items_type }}
		{{ $archive_page := site.GetPage "Section" $items_type }}

		{{ if .Params.content.filters.tag }}
		{{ $archive_page = site.GetPage (printf "tags/%s" .Params.content.filters.tag) }}
		{{ $query = $query | intersect $archive_page.Pages }}
		{{ end }}
		{{ if .Params.content.filters.category }}
		{{ $archive_page = site.GetPage (printf "categories/%s" .Params.content.filters.category) }}
		{{ $query = $query | intersect $archive_page.Pages }}
		{{ end }}


		{{ range first $items_count $query }}
		<div class="w-full md:w-1/2 lg:w-1/3 md:pl-4 lg:pl-6">
			{{ partial "card.html" . }}
		</div>
		{{ else }}
		{{ .Content }}
		{{ end }}
	</div>
</section>