{{ $dateFormat := .Params.date_format | default "02.01.2006" }}
<style>
	@import url('https://fonts.googleapis.com/css2?family=Inter&family=Vazirmatn&display=swap');
  </style>
<section id="timeline"     {{ if eq .Site.Language.Lang "fa" }} 
style="font-family: 'Vazirmatn', sans-serif !important;" 
{{ else if eq .Site.Language.Lang "en" }} 
style="font-family: 'Inter', sans-serif !important;" 
{{ end }}>
	<div class="text-center w-full mb-8">
		<h1 class="my-0 text-4xl sm:text-5xl md:text-6xl">
			{{ .Title }}
		</h1>
		{{ with .Params.subtitle}}
		<h2 class="font-light mt-0">{{ . }}</h2>
		{{ end }}
	</div>

	<div class="relative" dir="{{ .Site.Language.LanguageDirection | default "ltr" }}">
		{{/* Timeline bar */}}
		<div class="h-full border-l border-primary-dark absolute left-0 md:absolute-center"></div>
		<div>
			{{ range $index, $period := .Params.period }}
			{{ $even := modBool $index 2 }}

			{{ $containerClass := "md:mr-auto pl-4 md:pl-0 md:pr-4"}}
			{{ $dateClass := "md:text-right font-light text-primary text-xl" }}

			{{ if $even }}
			{{ $containerClass = "md:ml-auto pl-4"}}
			{{ $dateClass = "font-light text-primary text-xl" }}
			{{ end }}


			<div class="md:w-1/2 mb-6 {{ $containerClass }}">

				{{ if eq $period.date_end "" }}
				<div class="mb-4 {{ $dateClass }}">{{ i18n "present" }}</div>
				{{ else }}
				<div class="mb-4 {{ $dateClass }}">{{ $period.date_end | dateFormat $dateFormat }}
				</div>
				{{ end }}
				<div
					class="p-4 border-2 border-primary-light dark:border-secondary-light rounded-md transition ease-in-out duration-300 shadow-2 hover:shadow-8 " >
					<h2 class="inline-block my-0 text-primary">{{ .title | markdownify }}</h2>

					
					{{ with .location }}
					<span class="mx-2">&middot; {{ . | markdownify }}</span>
					{{ end }}
					
					
					<h3 class="mt-1 mb-0 text-primary-dark">{{ .subtitle | markdownify }}</h3>

					{{ with .description }}
					<div class="mb-2 text-primary">
						<p>{{ . | markdownify }}</p>
					</div>
					{{ end }}
				</div>
				<div class="mt-4 {{ $dateClass }}">{{ $period.date_start | dateFormat $dateFormat }}</div>
			</div>

			{{ end }}
		</div>
	</div>
</section>