<footer class="w-full h-24 text-center text-xs text-gray-400 bg-black relative">
	<div class="w-full px-6 md:pt-0 md:mx-auto md:max-w-5xl flex flex-1 space-between items-center absolute-center">
		<a href="{{ .Site.Home.Permalink }}" class="absolute">
			{{ partial "icon" . }}
		</a>

		<div class="h-full flex-1">
			<span class="select-none">
				<a href="https://github.com/negrel/hugo-theme-pico" class="text-gray-400 hover:text-gray-200 no-underline">Pico</a>
				theme for
				<a href="https://gohugo.io/" class="text-gray-400 hover:text-gray-200 no-underline">Hugo</a>
			</span>
		</div>
	</div>
</footer>
