{{ $page := . }}

<header class="w-full flex items-center justify-between px-5 mx-auto md:pt-8 md:max-w-5xl pt-5">
	{{/* Pico responsive icon (square and text) */}}
	<div class="flex items-center">
		<a href="{{ .Site.Home.Permalink }}" class="inline-block mx-1 font-bold no-underline select-none">
			<h1 class="hidden md:block font-charter tracking-normal m-0">
				{{ .Site.Params.homepagetitle }}
			</h1>

			<div class="md:hidden">
				{{ partial "icon" . }}
			</div>
		</a>
		{{ if .IsTranslated }}
		<div class="inline-block pl-2 ml-2 border-l border-gray-600">
			{{ range .Translations }}
			<a href="{{ .Permalink }}" class="no-underline inline-block px-1">
				<span class="font-bold">
					{{ .Language | upper }}
				</span>
			</a>
			{{ end }}
		</div>
		{{ end }}
	</div>

	<nav class="">
		{{ range .Site.Menus.main }}
		<a href="{{ .URL | relLangURL}}"
			class='mx-1 md:mx-2 hover:text-primary-light dark:hover:text-primary-dark no-underline'>
			{{ .Pre }} {{ i18n .Identifier }}
		</a>
		{{ end }}
	</nav>
</header>
