<div class="w-8 h-8 relative font-bold bg-white blend-diff">
	<h1 class="absolute-center m-0 font-charter text-2xl text-gray-100 blend-diff select-none">
		{{ slicestr .Site.Title 0 1}}
	</h1>
</div>
