@font-face {
  font-family: 'intelmono';
  src: url(IntelOneMono-Regular.woff2) format('woff2');
}
.chroma {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  overflow-x: auto;
}

.chroma {
  scrollbar-width: thin;
  scrollbar-color: #8893ad #282C34;
}

/* width */

.chroma::-webkit-scrollbar {
  width: 2px;
}

/* Track */

.chroma::-webkit-scrollbar-track {
  background: #282C34;
}

/* Handle */

.chroma::-webkit-scrollbar-thumb {
  background: #586072;
  border-radius: 10000px;
  border: 3px solid #282C34;
}

/* Handle on hover */

.chroma::-webkit-scrollbar-thumb:hover {
  background: #8893ad;
}

.chroma,
.chroma code,
.post-content > .highlight {
  background: #282C34;
  border-radius: 4px;
  -webkit-font-smoothing: subpixel-antialiased;
  width: 100%;
  color: white;
}

.highlight *{
  direction: ltr;
  font-family: 'intelmono';
}
.highlight .c {
  color: #5B6370;
  font-style: italic;
}

.highlight .err {
  color: #960050;
  background-color: #1e0010;
}

.highlight .k {
  color: #C776DF;
  font-weight: bold;
}

.highlight .o {
  font-weight: bold;
}

.highlight .cm {
  color: #5B6370;
  font-style: italic;
}

.highlight .cp {
  color: #5B6370;
  font-weight: bold;
}

.highlight .c1 {
  color: #5B6370;
  font-style: italic;
}

.highlight .cs {
  color: #5B6370;
  font-weight: bold;
  font-style: italic;
}

.highlight .gd {
  color: #000;
  background-color: #fdd;
}

.highlight .gd .x {
  color: #000;
  background-color: #faa;
}

.highlight .ge {
  font-style: italic;
}

.highlight .gr {
  color: #a00;
}

.highlight .gh {
  color: #5B6370;
}

.highlight .gi {
  color: #a6e22e;
  background-color: #dfd;
}

.highlight .gi .x {
  color: #a6e22e;
  background-color: #afa;
}

.highlight .go {
  color: #888;
}

.highlight .gp {
  color: #555;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .gu {
  color: #aaa;
}

.highlight .gt {
  color: #a00;
}

.highlight .kc {
  font-weight: bold;
}

.highlight .kd {
  color: #C776DF;
  font-weight: bold;
}

.highlight .kp {
  font-weight: bold;
}

.highlight .kr {
  font-weight: bold;
}

.highlight .kt {
  color: #458;
  font-weight: bold;
}

.highlight .m {
  color: #4FB6C3;
}

.highlight .s {
  color: #A2BD40;
}

.highlight .na {
  color: #E2964A;
}

.highlight .nb {
  color: #4FB6C3;
}

.highlight .nc {
  color: #E2964A;
  font-weight: bold;
}

.highlight .nd {
  color: #4FB6BE;
}

.highlight .no {
  color: #4FB6BE;
}

.highlight .ni {
  color: #E2964A;
}

.highlight .ne {
  color: #900;
  font-weight: bold;
}

.highlight .nf {
  color: #52A5EB;
  font-weight: bold;
}

.highlight .nn {
  color: #555;
}

.highlight .nt {
  color: #DE5442;
}

.highlight .nv {
  color: #DE5442;
}

.highlight .ow {
  font-weight: bold;
}

.highlight .w {
  color: #bbb;
}

.highlight .mf {
  color: #4FB6C3;
}

.highlight .mh {
  color: #4FB6C3;
}

.highlight .mi {
  color: #4FB6C3;
}

.highlight .mo {
  color: #4FB6C3;
}

.highlight .sb {
  color: #A2BD40;
}

.highlight .sc {
  color: #A2BD40;
}

.highlight .sd {
  color: #5B6370;
}

.highlight .s2 {
  color: #A2BD40;
}

.highlight .se {
  color: #A2BD40;
}

.highlight .sh {
  color: #A2BD40;
}

.highlight .si {
  color: #A2BD40;
}

.highlight .sx {
  color: #A2BD40;
}

.highlight .sr {
  color: #009926;
}

.highlight .s1 {
  color: #A2BD40;
}

.highlight .ss {
  color: #990073;
}

.highlight .bp {
  color: #999;
}

.highlight .vc {
  color: #008080;
}

.highlight .vg {
  color: #008080;
}

.highlight .vi {
  color: #008080;
}

.highlight .il {
  color: #4FB6C3;
}

.post-content > .highlight {
  line-height: 1;
  overflow-x: scroll;
  padding: 10px;
}

.post-content > .highlight pre {
  margin: 0;
  white-space: pre;
}

.post-content > .highlight .lineno {
  border-right: solid 1px #3C4049;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
}

.post-content > .highlight span {
  display: inline-block;
  padding: 0.3em 0;
}

.highlighttable .linenos {
  border-right: solid 1px #3C4049;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
  width: 3em;
}

.highlighttable .code .highlight {
  padding-left: 10px;
}

.highlighttable .code .highlight pre {
  white-space: pre;
}