<!-- Open Graph data -->

<meta property="og:title" content=	"{{ .Site.Title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink }}" />

{{ if .IsPage }}
    {{ if eq .Section "blog" }}
        {{ with .Params.banner }}
            <meta property="og:image" content="{{ . | absURL }}" />
        {{ end }}
    {{ end }}
{{ end }}

<meta property="og:description" content="{{ with .Description }} {{ . }} {{ end }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05" }}+03:30" />
<meta property="article:modified_time" content="{{ .Date.Format "2006-01-02T15:04:05" }}+03:30" />
{{ if .IsPage }}
    {{ range .Params.tags }}
<meta property="article:tag" content="{{ . }}" />
{{ end }}
{{ end }}