
{{ define "main" }}
{{ template "_internal/google_analytics.html" . }}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Vazirmatn&display=swap');
</style>



<button onclick="window.history.back()" class="bg-transparent border-none font-bold">&larr;{{ i18n "back" |
	title}}</button>
	<div dir="{{ .Site.Language.LanguageDirection | default "ltr" }}">
<h1 class="blog-title text-center mx-auto max-w-vw-5/6 text-4xl sm:text-5xl md:text-6xl" 
{{ if eq .Site.Language.Lang "fa" }} 
	style="font-family: 'Vazirmatn', sans-serif !important;" 
{{ else if eq .Site.Language.Lang "en" }} 
	style="font-family: 'Inter', sans-serif !important;" 
{{ end }}>

	{{ .Title }}
</h1>
{{ with .Params.subtitle }}
<h2
	class="blog-subtitle text-center mx-auto mb-16 md:mt-16 md:mb-32 max-w-vw-11/12 text-2xl sm:text-3xl md:text-4xl">
	{{ . }}
</h2>
{{ end }}
<div class="blog-content text-justify leading-loose mb-12 mx-auto sm:max-w-vw-5/6 text-md" 
{{ if eq .Site.Language.Lang "fa" }} 
	style="font-family: 'Vazirmatn', sans-serif !important;" 
{{ else if eq .Site.Language.Lang "en" }} 
	style="font-family: 'Inter', sans-serif !important;" 
{{ end }}>

	{{ .Content }}
</div>
{{/* Previous / Next section */}}
{{ if or (.PrevInSection) (.NextInSection) }}
<hr class="mb-6 mt-24">
{{ end }}

<div class="flex flex-wrap justify-between items-center">
	{{ if .PrevInSection }}
	<div class="{{ if .NextInSection }} w-full sm:w-1/2 {{ end }} mb-1 text-center sm:text-left overflow-ellipsis pr-1">
		<a class="mr-4 no-underline" href="{{ .PrevInSection.Permalink }}">
			<img src="{{"/icons/top_arrow.svg" | relURL }}" class="transform -rotate-90 inline-block">
		</a>
		<a href="{{ .PrevInSection.Permalink }}">
			<span class="underline">{{ .PrevInSection.Title }}</span>
		</a>
	</div>
	{{ end }}

	{{ if .NextInSection }}
	<div
		class="{{ if .PrevInSection }} w-full sm:w-1/2 {{ else }} ml-auto {{ end }} mt-1 text-center sm:text-right overflow-ellipsis pl-1">
		<a href="{{ .NextInSection.Permalink }}">
			<span class="underline">{{ .NextInSection.Title }}</span>
		</a>
		<a class="ml-4 no-underline" href="{{ .NextInSection.Permalink }}">
			<img src="{{"/icons/top_arrow.svg" | relURL }}" class="transform rotate-90 inline-block">
		</a>
	</div>
	{{ end }}
</div>
{{ template "_internal/disqus.html" . }}

<hr class="my-6">
{{ partial "contact_icons.html" . }}
<div class="mt-6"></div>
</div>
{{ end }}
