{{ define "main" }}
{{ range .Pages }}

    <article class="text-gray-700 sm:mx-12 mb-4">
        <h1 class="font-bold font-thin text-3xl text-gray-700">
            {{ . }}
        </h1>
        {{ .Content }}
    </article>
{{ end }}
{{ end }}